<p>
  <%= text_field_tag 'settings[id_key]', @settings[:id_key], size: 5 %>
  ID of "HipChat Key" custom field.
</p>

<p>
  <%= text_field_tag 'settings[id_notification]', @settings[:id_notification], size: 5 %>
  ID "Enable HipChat notifications" custom field.
</p>
